<web-app>
	<filter>
		<filter-name>validationFilter</filter-name>
		<filter-class>in.sp.filters.ValidationFilter</filter-class>
		<init-param>
			<param-name>appname</param-name>
			<param-value>My Filter App</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>validationFilter</filter-name>
		<url-pattern>/regForm</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>reg</servlet-name>
		<servlet-class>in.sp.servlets.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reg</servlet-name>
		<url-pattern>/regForm</url-pattern>
	</servlet-mapping>
</web-app>