<web-app>
	<filter>
		<filter-name>encDecFilter</filter-name>
		<filter-class>in.sp.filters.EncDecFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>encDecFilter</filter-name>
		<url-pattern>/regForm</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>validationFilter</filter-name>
		<filter-class>in.sp.filters.ValidationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>validationFilter</filter-name>
		<url-pattern>/regForm</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>reg</servlet-name>
		<servlet-class>in.sp.servlets.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reg</servlet-name>
		<url-pattern>/regForm</url-pattern>
	</servlet-mapping>
</web-app>