<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h2> Products List </h2>
	
	<table border="1">
		<thead>
			<tr>
				<td> Id </td>
				<td> Title </td>
				<td> Price </td>
				<td> Description </td>
				<td> Category </td>
				<td> Image </td>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="product : ${modelProductsList}">
				<td th:text="${product.id}"> </td>
				<td th:text="${product.title}"> </td>
				<td th:text="${product.price}"> </td>
				<td th:text="${product.description}"> </td>
				<td th:text="${product.category}"> </td>
				<td> <img th:src="${product.image}" width="100" height="100" /> </td>
			</tr>
		</tbody>
	</table>
	
	<div>
		<a th:if="${modelCurrentPage > 1}" th:href="@{/products(pageNo=${modelCurrentPage-1})}">Previous</a>
		
		<span th:each="i : ${#numbers.sequence(1, modelTotalPages)}">
			<a th:href="@{/products(pageNo=${i})}" th:text="${i}"></a>
		</span>
		
		<a th:if="${modelCurrentPage < modelTotalPages}" th:href="@{/products(pageNo=${modelCurrentPage+1})}">Next</a>
	</div>
</body>
</html>