<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    					http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="in.sp.main.beans.Student" id="stdObj1">
		<property name="name" value="Deepesh" />
		<property name="rollno" value="104" />
	</bean>
	
	<bean class="in.sp.main.beans.Student" id="stdObj2">
		<property name="name" value="Priya" />
		<property name="rollno" value="105" />
	</bean>

</beans>